:root {
    --openSans: 'Open Sans', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --main-Verde: #4BC718;
    --favorite-Red: #EE1237;
    --cinza-escuro: #252525;
    --cinza-médio: #575757;
    --cinza-claro: #25252540;
}

body{
    font-family: var(--roboto);
    color: var(--cinza-escuro);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    margin: 0 auto;
    width: 90vw;
    max-width: 500px;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem auto;
}

.headerMenu {
    padding: .5rem;
    border-radius: 27px;
}

.headerMenu:hover {
    background-color: var(--cinza-claro);
}

.headerTitle {
    font-family: var(--openSans);
    font-size: 2rem;
    margin-left: .5rem;
}

.navMenu {
    display: none;
}

.navMenu_profile {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(../img/profile_1.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    border-radius: 20px;
}

.sideMenu{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 16px var(--cinza-claro);
    width: 90vw;
    height: 100vh;

    position: absolute;
    left: -100vw;
    transition: .5s;
}

.sideMenu--active {
    left: 0;
    transition: .5s;
}

.sideMenu_link {
    height: 64px;
    color: var(--cinza-escuro);
    padding-left: 56px;
    border-left: 8px solid #fff;
    display: flex;
    align-items: center;
}

.sideMenu_link:hover {
    transition: .25s;
    color: var(--main-Verde);
    padding-left: 56px;
    border-left: 8px solid var(--main-Verde);
}

.sideMenu_span-caption {
    margin: 0 1rem;
}

.sideMenu_logo {
    width: auto;
    align-self: center;
    margin: 2rem;
}

.iconBack {
    display: flex;
    align-items: center;
    color: var(--cinza-escuro);
    justify-content: flex-end;
    margin: 1rem 2rem 1rem auto;
    padding: 1rem;
    border-radius: 27px;
}

.iconBack:hover {
    color: #fff;
    background-color: var(--cinza-claro);
    transition: .25s;
}

.linkLogout {
    margin-top: auto;
    margin-bottom: 2rem;
}

.linkLogout:hover {
    color: var(--favorite-Red);
    padding-left: 56px;
    border-left: 8px solid var(--favorite-Red);
    transition: .25s;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 2rem;
}

.mainSearch {
    margin-bottom: 1rem;
    max-width: 500px;
}

.input {
    width: 100%;
    padding: 10px 16px;
    border-radius: 20px;
    box-shadow: 0 0 8px var(--cinza-claro);
}

.mediaContent {
    max-width: 500px;
    box-shadow: 0 0 8px var(--cinza-claro);
    border-radius: 20px;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-image: url(../img/poster-pousando-no-amor.jpg.crdownload);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mediaExample {
    padding: 10rem 1rem 1rem 1rem;
    background: linear-gradient(#00000000, #000000ff);
    border-radius: 0 0 20px 20px;
    color: #fff;

    display: flex;
    flex-direction: column;
    row-gap: .5rem;

}

.contentTitle {
    font-family: var(--openSans);
    font-size: 2rem;
}

.contentDescription {
    display: flex;
    column-gap: .5rem;
}

.contentNav {
    display: flex;
    column-gap: .5rem;
    align-items: center;
    color: var(--cinza-médio);
}

.contentNav_span {
    background-color: #fff;
    padding: 8px;
    border-radius: 20px;

    display: flex;
    align-items: center;
}

.addList {
    margin-left: auto;
}

.contentNav_span-caption {
    margin-right: .25rem;
}

.iconFavorite {
    color: var(--favorite-Red);
}

.iconAdd {
    color: var(--main-Verde);
}

.footer {
    box-shadow: 0 0 8px var(--cinza-claro);
    margin-top: auto;
}

.footerNav {
    width: 100vw;
    display: flex;
    align-items: center;
}

.navBar_span {
    flex-grow: 1;
    text-align: center;
    padding: 1rem 0;
}

.navBar_span-active {
    border-top: 3px solid var(--main-Verde);
    color: var(--main-Verde);
}

@media screen and (min-width: 768px) {
    .sideMenu {
        width: 50vw;
    }
}

@media screen and (min-width: 1024px) {
    body {
        display: grid;
        grid-template-columns: 300px auto;
        grid-template-rows: 60px auto;
        background-color: #fefefe;
    }

    .headerMenu {
        display: none;
        margin-left: auto;
    }

    .sideMenu{
        width: 100%;
        position: initial;
        grid-column: 1;
        grid-row: 1 / span 2;
    }

    .sideMenu_logo {
        margin-top: 2rem;
    }

    .iconBack {
        display: none;
    }

    .headerTitle {
        flex-grow: 1;
    }
    
    .navMenu{
        display: flex;
        align-items: center;
        column-gap: .5rem;
    }

    .navMenu_span {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
    }

    .navMenu_span-active {
        background-color: var(--main-Verde);
        color: #fff
    }

    .navMenu_profile {
        padding: -4px;
    }

    .main {
        margin-bottom: 3rem;
    }

    .footer {
        display: none;
    }
}